<h1>Prise de contact</h1>
<p>Bonjour <%= "#{@name} #{@first_name}"%>, la Ferme d'Auwez vous remercie pour message, nous reviendrons vers vous au plus vite pour vous donner une réponse. </p>
<p>Informations envoyés : </p>

<ul>
    <li>Adresse email: <%= @email %></li>
    <li>Numéro de téléphone: <%= @telephone  %></li>
    <li>Message: <%= @message %></li>
</ul>
