// Define variables for your color scheme

// Common color
$red: #821919;
$blue: #0D6EFD;
$yellow: #f7f7de;
$orange: #E67E22;
$green: #1f4711;
$gray: #0E0000;
$light-gray: #F4F4F4;

$hoverGreen: #82ab81;