// Define variables for your color scheme

// Common color
$red: #821919;
$blue: #0D6EFD;
$yellow: #fefeec;
// $yellow: #f7f7de;
$orange: rgba(195, 132, 50, 1);
$green: rgb(104,124,104);
// $green: #608985;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: rgba(244, 235, 222, 1);
$background: $white;

$hoverGreen: rgba(96, 137, 133, 0.631);
$hoverOrange: rgb(213, 145, 55);

$radius: 4px;

// Green choice
// #1f4711
// #608985
// #21503C

// Red choice
// #7b14145e