#about{
    display: flex;
    flex-direction: column;
    gap: 85px;
    margin: 40px auto 70px auto;

    #cadre{
        max-width: 85%;
    }
    .about-section{
        display: flex;
        justify-content: space-around;
        gap: 95px;
        margin: 0px auto;
        #img-abre{
            width: auto ;
            max-height: 60vh;
            
        }
        #img-history{
            width: auto ;
            max-height: 55vh;
            
        }
        .section-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}