#forms{
    display: flex;
    gap: 20px;

    form{
        max-width: fit-content;
        input, select{
            border: none;
            border-bottom: 1px solid #c0c3c6;
            // height: 36px;
            margin-bottom: 16px;

        }
        select{
            background-color: #f4f4f4;
            padding: 7px;
            width: 100%;
        }
    }
}