#contact-banner{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: 0% 60%;
    margin-bottom: 35px;
}

#contact{
    text-align: center;
}

#notre-equipe{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin: 50px 0px;
    // flex-basis: 0;
    .person{
        padding: 5px;
        border-top: solid 2px;
        border-bottom: solid 2px;
        h5{
            margin: 0.5rem 0;
        }
        img{
            margin: 10px 0px;
            max-width: 35vw;
            height: auto;
        }
        p{
            margin: 1rem 0;
        }
    } 

}


#contact-info{
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    border: 1px solid;
    box-shadow: 0px 0px 6px 1px gray;
    padding: 40px;
    margin: 100px auto;
    .form-container{

        .contact-form{
            min-width: 30vw;
            width: fit-content;
            margin: 30px auto;
            textarea{
                height: 20vh;
            }
        }
    }
    .contacts-info{
        margin: 0px 0px 40px 0px;
    }

    .access-container{
        min-width: 38vw;
    }
}

.frame{
    margin: 20px;
}