#contact-banner{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: 0% 60%;
    margin-bottom: 35px;
}

#contact{
    text-align: center;
}

#notre-equipe{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin: 50px 0px;
    // flex-basis: 0;
    .person{
        padding: 5px;
        border-top: solid 2px;
        border-bottom: solid 2px;
        h5{
            margin: 0.5rem 0;
        }
        img{
            margin: 10px 0px;
            max-width: 35vw;
            height: auto;
        }
        p{
            margin: 1rem 0;
        }
    } 

}

.map{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .contacts-info{
        margin: 20px 0px 40px 0px;
    }
}