#contact-banner{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: 0% 60%;
    margin-bottom: 35px;
}

#contact{
    text-align: center;
}


#contact-info{
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    border: 1px solid;
    box-shadow: 0px 0px 6px 1px gray;
    padding: 40px;
    margin: 50px auto;
    width: fit-content;
    .form-container{

        .contact-form{
            min-width: 30vw;
            width: fit-content;
            margin: 30px auto;
            textarea{
                height: 20vh;
            }
        }
    }
    .contacts-info{
        margin: 0px 0px 40px 0px;
    }

    .access-container{
        min-width: 38vw;
    }
}

.frame{
    margin: 20px;
}