.gite{
    margin-top: 40px !important;
    padding-top: 25px;
}

.pictograme{
    font-size: 18px;
}

// Description et Calendar section
.gite-details{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.gite-details-section{
    background-color: $green;
    padding: 35px 7vw !important;
    color: $background;
    margin-top: 0px !important;
}

.all-photos{
    margin: auto;
    max-width: fit-content;
    display: block;
    justify-self: center;
    padding: 18px !important;
    font-size: 18px;
}