.gite{
    margin: 40px auto;
    padding-top: 25px;
}

.pictograme{
    font-size: 18px;
}

// Description et Calendar section
.gite-details{
    display: flex;
    justify-content: space-between;

    .gite-description{
        flex-grow: 1;
    }
    
    .calendar-container{
        margin-left: 12px;
        position: sticky;
        .fa-circle-info{
            position: relative;
        }
        .pop-up{
            display: none;
            position: absolute;
            bottom: -15px;
            font-style: italic;
        }
    }  
}

.all-photos{
    margin: auto;
    max-width: fit-content;
    display: block;
    justify-self: center;
    padding: 18px !important;
    font-size: 18px;
}