.gite{
    margin-top: 40px !important;
    padding-top: 25px;
}

#gite-banner{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    margin-bottom: 0px !important
}

.pictograme{
    font-size: 18px;
}

// Description et Calendar section
.gite-details{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
}

.gite-details-section{
    background-color: $green;
    padding: 35px 7vw !important;
    color: $background;
    margin-top: 0px !important;
}

.all-photos{
    margin: auto;
    max-width: fit-content;
    display: block;
    justify-self: center;
    padding: 18px !important;
    font-size: 18px;
}

.info-gite{
    display: flex; 
    justify-content: space-between; 
    align-items: center;

    div{
        display: flex; 
        flex-direction: column; 
        flex-grow: 1;
    }

    img{
        max-height: 500px;
        max-width: 100%;
    }
}

@media (max-width: $breakpoint-mobile) {
    #gite-banner{
        height: auto;
    }
    .info-gite{
        flex-direction: column;;
    }
}