// Specific CSS for your home-page
.home{
    text-align: center;
}

.carousel-container{
    margin-bottom: 20px;
    img{
        width: 100vw;
        height: 50vh;
        object-fit: cover;
        position: relative;
        left: -7vw;
    }
}