// Carousel/banner section
#carousel-container{
    margin-bottom: 20px;
    img{
        width: 100vw;
        height: 87vh;
        object-fit: cover;
        // margin-left: -8.1%;
    }
}


// Soleil Section
.soleil-container{
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 12vh;
    margin-bottom: 20px;
    gap: 12vw;

    .border-btm{
        border-bottom: solid 3px $orange;
        width: 100%;
    }
    .soleil{
        background-image: url('solar-mini.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 31px;
        width: 69px;
        position: relative;
        flex-shrink: 0;


        &::after{
            content: "";
            bottom: 0;
            left: -60px;
            position: absolute;
            background-image: url('solar.png');
            // width: 20vw;
            // height: 12vh;
            height: 98px;
            width: 188px;
            opacity: 0;
            transform: scale(0);
            transform-origin: bottom ;
            background-size: cover;
            background-repeat: no-repeat;
            transition: 1s cubic-bezier(0, 0, 0.3, 0.98);
        }
          &:hover::after {
            opacity: 1;
            transition: 1s ease-out;
            transform: scale(1);
        }
    }
}

// Home Introduction
.home-introduction{
    min-height: 75vh;
    max-width: 70vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
        margin-bottom: 2rem;
    }
}

@media (max-width: $breakpoint-mobile) {
    .home-introduction{
        height: auto;
        max-width: 85vw;
        margin: 4rem auto
    }
}

// Gites Section
.gite-card{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: fit-content;
    width: auto;
    padding: 2em 1em;

    .photos-card {
        max-width: 50%;

        .main-photo, .sub-photos{
            img{
                width: 100%;
                height: 60vh;
                object-fit: cover;
                position: relative;
                cursor: pointer;
                &:hover{
                    transform: scale(1.05);
                    transition: transform 0.3s ease-in-out;
                }
            } 
        } 
    }

    .sub-photos{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        gap: 5px;

        img{
            max-width: 18% !important;
            height: auto !important;
        }
    }
}

.background-card-gite{
    background-color: $green;
    color: $white;

    &::before{
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('background-plant');
        opacity: 0.1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
}

.gite-card-text{
    padding: 2em;
    max-width: 45%;
    align-self: center;
    z-index: 1;

    h4 {
        font-size: calc(0.8rem + 1.2vw);
        margin-bottom: 1.5rem;
    }
    .text{
        padding: 2rem 0;
        margin: 0;
    }
    .button{
        position: relative;
    }
}

.gite-overview{
    p {
        padding-top: 1rem;
        border-top: solid 1px $white;
        img, i{
            width: 1.9rem;
        }
        
    }
}

.gite-reverse{
    p {
        border-color: $green !important;
    }
}

@media (max-width: $breakpoint-mobile) {
    .gite-card{
        flex-direction: column ;
        .photos-card{
            max-width: 100%;
        }

        .gite-card-text{
            max-width: 100%;
            padding: 1em;
            h4{
                font-size: calc(1rem + 1.8vw);
            }
        }
        .sub-photos{
            scroll-behavior: smooth;
            overflow-x: scroll;
            img{
                max-width: 55% !important;
            }
        }
    }
    .gite-reverse{
        flex-direction: column-reverse;
    }
}

// Fake pictogram
.fake-picto-parent{
    display: flex;
    align-items: center;
}

.fake-picto-item{
    mask-repeat: no-repeat;
    mask-size: contain;
    font-size: 22px;

    &::before{
        // Use Font Awesome icons
        content: "\f007";
    }
}
.picto-sauna{
    mask-image: url("sauna.png");
}


// Salle Section
.salle-container{
    width: 85vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vh auto;
    .salle-images{
        width: 45%;
        position: relative;
        img{
            max-width: 100%;
            max-height: 100%;
        }
        
        &::before{
            content: "";
            position: absolute;
            inset: 0;
            top: -8px;
            left: -8px;
            background-image: url('enter');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 2em;
        }
    }
    .salle-text{
        max-width: 45%;
        h4{
            font-size: calc(1.0rem + 1.5vw);
            margin-bottom: 1.5rem;
        }
        p{
            line-height: 1.8em;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .salle-container{
        flex-direction: column;
        text-align: center;
        height: auto;
        width: 85vw;
        .salle-images, .salle-text{
            max-width: 100%;
        }
        .salle-images{
            margin-bottom: 2em;
            width: auto;
            &::before{
                margin: 1.5em;
            }
        }
    }
}

// Visitors Section
#visitors-container{
    min-height: 80vh;
    background-color: $green;
    padding: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
    h3{
        font-size: calc(2.2rem + 1.8vw);
        color: $background;
        padding: 20px;
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            display: block;
            width: 143px;
            transform: translate(-50%, -61%);
            height: 114px;
            mask-image: url('cedilles.png');
            mask-size: cover;
            mask-repeat: no-repeat;
            background-color: $background;
            opacity: 0.13;            
        }
    }
}

.visitors-cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0;
    gap: 10vw;
}

.visitor-card{
    max-width: 35vw;
    background-color: $background;
    border-radius: $radius + 6;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    padding: 15px 25px;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    p{
        margin: 0;
        line-height: 1.8em;
    }
    .quote-container{
        width: 2em;
        height: 2em;
        background-color: $orange;
        border-radius: 50%;
        display: flex;
    }
    .quote-mark{
        width: 1em;
        height: 0.8em;
        margin: auto;
    }
    .stars{
        img{
            width: 20px;
            height: 20px;
        }
    }
    span{
        font-size: smaller;
        font-weight: 900;
    }
}

@media (max-width: $breakpoint-mobile) {
    #visitors-container{
        height: auto;
        padding: 30px 20px;

        h3{
            text-align: center;
            &::after{
                width: 100px;
                height: 80px;
                transform: translate(-50%, -75%);
            }
        }
    }

    .visitors-cards{
        flex-direction: column;
        gap: 3em;
        .visitor-card{
            max-width: 100%;
        }
    }
}

// Cadre Section
#cadre-container{
    max-width: 60vw;
    min-height: 80vh;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        margin: 1.5rem 0;
    }
}

@media (max-width: $breakpoint-mobile) {
    #cadre-container{
        height: auto;
        max-width: 85vw;
        margin: 10vw auto;
    }
}
