.gites-reservation{
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
}
.reservation{
    position: sticky;
    top: 100px;
    height: fit-content;
    span{
        color: rgba(98, 98, 98, 0.9) !important;
    }
}
.checkbox-gites{
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 8px;
    color: rgba(98, 98, 98, 0.9) !important;
    input, label{
        width: fit-content;
    }
}
.reservation-form{
    display: flex;
    flex-direction: column;
    min-width: 30vw;


    input:not(:last-child), select, textarea{
    border: none;
    border-bottom: 1px solid #c0c3c6;
    background-color: rgba(240, 248, 255, 0);
    }

    input, textarea{
        padding: 8px;
    }
}

.all-info{
    max-width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.gite-calendar{

    text-align: center;


    .simple-calendar{
        font-size: 14px;
    }
    table{
        table-layout: fixed;
    }
    .day, th{
        min-width: 0;
        div{
            width: fit-content;
            margin: auto;
        }
    }
}