 <div class="navbar">  
    <a href="/"><%= image_tag "logo_ciney.png", class: "logo"%></a>
    <nav> 
        <a href="/" class="nav-link">LA FERME D'AUWEZ</a>
        <a href="/gites" class="nav-link">LES GITES</a>  
        <a href="" class="nav-link">MARIAGES</a>         
        <a href="" class="nav-link">ENTREPRISES</a>      
        <a href="" class="nav-link">PHOTOS</a>           
        <a href="/contact" class="nav-link">CONTACT</a>
    </nav>
</div>