 <div class="navbar">  
    <a href="/"><%= image_tag "logo_ciney.png", alt: "logo", class: "logo"%></a>
    <nav> 
        <a href="/" class="nav-link">La Ferme d'Auwez</a>
        <div id="gites-nav" class="nav-link" style="position: relative">
            Nos gites
            <div class="sub-div">
                <%=link_to @gites[0].name ,gite_path(@gites[0]), class: "sub-link" %>  
                <%=link_to @gites[1].name ,gite_path(@gites[1]), class: "sub-link" %>  
                <%=link_to @gites[2].name ,gite_path(@gites[2]), class: "sub-link" %>  
            </div>
        </div>
        <a href="/about" class="nav-link">À Propos</a>
        <a href="/contact" class="nav-link">Contact & Accès</a>
        <a href="/" class="button">Réservation</a>
    </nav>
</div>