<div style="
border: 1px solid black;
padding: 10px;
margin: 20px 0px;
box-shadow: 0px 0px 5px 2px grey;
background-color:rgb(255 243 208);;
"
>

    <h4>Italic et gras</h4>
    <p><b>Yo, si tu veux mettre une partie du texte en gras ou en italic merci de lire ces explications:</b> 
        Pour mettre du style sur une partie du texte sans mon aide il faut "encadrer" le texte choisis avec des "balises" spécifiques.
        Il existe une balise d'ouverture (<>) et une de fermeture (&lt;/>) pour chaque style.
        Les balises pour gras et italic sont: 
        - Gras: &lt;b> &lt;/b> 
        - Italic: &lt;i> &lt;/i>

        Exemple:
        Le code: &lt;b>Je suis en gras&lt;/b> ici je ne suis rien et &lt;i>Je suis en italic&lt;/i>   
        Résultat: <b>Je suis en gras</b> ici je ne suis rien et  <i>je suis en italic</i>
    </p>
</div>