.alert-alert {
  position: fixed;
  top: 28vh;
  left: 30vw;
  z-index: 1000;
  padding: 25px;
  white-space: pre-line;
}

.alert-notice{
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  white-space: pre-line;
}