.navbar{
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 3;
  justify-content: space-between;
  background-color: $yellow;

    a{
      border-bottom: solid 3px #82ab8100;
      &:hover{
        border-bottom: solid 3px $hoverGreen;
      }
    }

    .logo{
      max-height: 80px;
      width: auto;
    }
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: $green;
}

.nav-link{
  padding: 0px 22px;
  font-size: 16px;
  font-weight: 500;
}