.navbar{
  font-family: $headers-font;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 3;
  justify-content: space-between;
  background-color: $yellow;

    a{
      border-bottom: solid 3px #82ab8100;
      &:hover{
        border-bottom: solid 3px $hoverGreen;
      }
    }

    .logo{
      max-height: 80px;
      width: auto;
    }
}

nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: $green;
}

.nav-link{
  padding: 5px;
  font-size: 25px;
  font-weight: 700;
}

.sub-div{
  display: none;
  position: absolute;
  background-color: $yellow;
  width: max-content;
  left: 0;
  margin-top: 5px;
  border: 1px solid;
  border-top: none;
}

.sub-link{
  display: block;
  padding: 5px 10px;
  font-size: 21px;
  font-weight: 700;
}

#gites-nav:hover > .sub-div {
  display: block;
}