.navbar{
  padding: 10px 57px;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-around;
  background-color: $yellow;

    a{
      border-bottom: solid 3px #82ab8100;
      &:hover{
        color: $hoverGreen;
        border-bottom: solid 3px $hoverGreen;
      }
    }

    .logo{
      max-height: 80px;
      width: auto;
    }
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: $green;
  padding-left: 3vw;
}

.nav-link{
  padding: 0px 22px;
  font-size: 16px;
  font-weight: 500;
}