.gallery-container{
  max-height: 90vh;
  overflow-y: scroll;
  margin: 40px auto;
}

.image-gallery {
  column-count: 4;
  column-gap: 16px;
  padding: 16px;
    img {
      width: 100%;
      margin-bottom: 16px;
      border-radius: 4px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0,0,0,0.3);
      }
    }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);

  .arrow-left, .arrow-right{
    position: fixed;
    display: block;
    height: 52px;
    width: 75px;
    mask-image: url('arrow-white.png');
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: $white;
    align-self: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0.7;
    &:hover{
      opacity: 1;
      transition: 0.3s;
    }
  }
  .arrow-right {
    transform: scale(-1);
    right: 13px;
  }
  .arrow-left {
    left: 13px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .gallery-container{
    overflow-y: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .image-gallery{
    display: flex;
    padding: 0px;
    align-items: center;
    
    img{
      height: fit-content;
      max-width: 90%;
    }
  }
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  height: fit-content;
  width: fit-content;
  max-height: 80vh;
  max-width: calc(100vw - 175px);
  img{
    height: auto;
    width: auto;
    max-height: 80vh;
    max-width: 100%;
  }
}

/* Close button */
.close {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  span{
    position: fixed;
    top: 30px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

}
@media (max-width: $breakpoint-mobile) {
  .modal-content {
    max-width: 100%;
  }
}
