.nav-container{
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(177, 176, 176),  rgb(248, 248, 248));
  position: sticky;
  top: 0px;
}

.logo{
  max-width: 150px;
  height: auto;
}

#navbar {
  padding: 5px;
  display: flex;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    a{
      padding: 5px;
      font-size: 18px;
    }
  }
}
